#gridDiv{
    list-style: none;    
    display: flex;
    flex-wrap:wrap;
    flex-direction:row;
    /* height: 600px; */
    width: 1100px;
    justify-content: space-around;
}
.gridItemDiv{
    background:wheat;
    height: 100px;
    width: 200px;
    margin:5px;
    line-height:100px;
    /* align-items: center;
    justify-content: center; */
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    color:black;
    user-select:none;
    border-radius:25px;
    box-shadow:0px 0px 0px 2px gray inset;
}
.revealAllButton{
    font-size: 4em;
}
.revealed:not(.spymaster){
    box-shadow:0px 0px 0px 10px black inset;
}
.revealed.spymaster{
    font-size: 0em;
}


.teamBlack{
    background: black;
    color:white;
}

.teamGray{
    background:darkgray;
    color:black;
}

.teamBlue{
    background:cornflowerblue;
    color:black;
}

.teamRed{
    background:firebrick;
    color:white;
}

.lg{
    font-size:3em;
}

.btn{
    font-size:3em;
}

kbd.key {
    border-radius: 3px;
    padding: 1px 2px 0;
    border: 1px solid black;
}

.firstTeam{
    width:1100px;
    text-align:center;
}

#gameChooser{
    font-size:3em;
    font-weight:bold;
}