<h1> Codenames! </h1>
<h4> A word-guessing game for 4+ people, designed by Vlaada Chvátil.</h4>
<h3> Rules </h3>
<p> If you are unfamiliar with the rules, check out <a href="https://en.wikipedia.org/wiki/Codenames_(board_game)#Rules">the Wikipedia page</a> or 
  <a href="https://czechgames.com/files/rules/codenames-rules-en.pdf">The official rules pdf</a>.<br>
</p>
<h3> Setup </h3>
<h4> Required Materials </h4>
<p>
  This version is meant to be played in-person, not online; so grab a couple of friends!<br>
  You'll want three devices to play. One for each Spymaster and one to function as the public board. <br>
  Typically, the Spymasters will use smartphones and you'll use something larger to be the public board. <br>
  Navigate to this webpage on all three devices. <br>
</p>
<h4> Seed Synchronization</h4>
<p>
  You'll want to make sure that everyone is playing the same game. <br>
  Check the value of the Seed below, and make sure it's the same on all three devices. <br>
  If they aren't, everyone should agree on a Seed to use and type it into the Seed box below and hit <kbd class='key'>Enter</kbd>.<br>
</p>
<h3> How to Play </h3>
<p>
  Some things are a little different in this digital version.<br>
  Clicking on a tile will reveal whether it belonged to Red Team, Blue Team, or was a Civilian or the Assassin.<br>
  So, try to refrain from unnecessary clicking or touching of the screen as you could accidentally reveal a spy.<br>
  <br>
  If you are a Spymaster, click the appropriate button below.<br>
  Spymasters will see a button that reveals the entire board. Just like the 'Key' card in the board game!<br>
  Unlike the physical game, Spymasters don't have to sit next to each other. Just as long as nobody else can see your phone.<br>
</p>

<!-- Identification Buttons -->
<div *ngIf="!identityConfirmed">
  <h2> Are you a Spymaster? </h2>
  <button class="btn" (click)="claimToBeSpymaster()">Yes!</button>
  <button class="btn" (click)="claimToNotBeSpymaster()">No!</button>
</div>
<br>
<!-- Show/Hide button  -->
<div *ngIf="identityConfirmed && isSpymaster">
  <button class="btn" (click)="toggleRevealAll()">Show/Hide Spymaster Info</button>
</div>
<br>
<!-- Seed Box -->
<div>
  <label class="seedBox"> Seed: </label>
  <input type="text" class="seedBox" #seedBox (keyup.enter)="this.ss.setSeed(seedBox.value)" value="{{this.ss.initialSeed}}">
</div>
<!-- Grid -->
<h4 class="team{{firstTeam}} showing firstTeam">{{firstTeam}} goes first</h4>
<div id="gridDiv">
  <div *ngFor="let item of items" (click)="toggleRevealItem(item)" class="gridItemDiv team{{item.team}} {{revealAll?'revealAll':''}} {{(item.revealed||revealAll)?'showing':''}} {{item.revealed?'revealed':''}}">
    {{item.description}}
  </div>
</div>
